.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: sans-serif;
}

.blogPosts {
  list-style-type: none;
  padding: 0;
  min-width: 500px;
}

.blogPosts>li {
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.blogPosts>li>h2 {
  font-size: 18px;
}

.blogPosts>li>p {
  color: #999;
  font-size: 14px;
}